HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Shopify Integration
STRAPI_PUBLIC_URL=http://localhost:1337
SHOPIFY_API_KEY=your_api_key
SHOPIFY_API_SECRET=your_api_secret
SHOPIFY_ADMIN_API_ACCESS_TOKEN=your_access_token
SHOPIFY_SHOP_NAME=your_shop_name
SHOPIFY_API_VERSION=2023-04
SHOPIFY_WEBHOOK_SECRET=your_webhook_secret
